body {
    margin-top: 3px;
}

.sp-container, .sp-container--fixed {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 0.1875rem;
    display: flex;
    justify-content: flex-start;
}
.sp-container.fixed {
    position: fixed;
}


.sp-bar {
    content: '';
    position: relative;
    background-color: #3876c7d0;
    transition: background-color .5s ease;
}

.sp-bar.complete {
    background-color: #38c744d0;
}
